/* --------------RESET-------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE CSS */
body{
    font-family: 'Montserrat', sans-serif;
}

header{
    height: 10vh;
    line-height: 10vh;
    text-align: center;
    background-color: lavender;
}

main{
    display: flex;    align-items: center;
    justify-content: center;
    height: 90vh;
}

main div.container-carousel{
    border: 3px solid black;
    border-radius: 10px;
    width: 60vw;
    height: 60vh;
    position: relative;
}

.left {
    position: absolute;
    top: 50%;
    left: 10px;
}

.right {
    position: absolute;
    top: 50%;
    right: 10px;
}

.hidden {
    display: none;
}

div.img-container{
    height: 100%;
    width: 100%;
}

div.img-container > div{
    height: 100%;
    width: 100%;
}

div.img-container> div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide{
    color: white;
}

.absolute{
    width: 80%;
    padding: 5px;
    position: absolute;
    top: 70%;
    left: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}


.absolute > p{
    margin-top: 5px;
    font-size: 13px;
}

div.thumbnails{
    width: 15vw;
    height: 60vh;
    border: 1px solid;
    border-radius: 10px;
    overflow: hidden;
}

div.thumbnails > .thumb{
    height: calc(100% / 5);
    width: 100%;
    border-radius: 10px;
}

div.thumbnails > .thumb img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.filter{
    filter: grayscale(1);
}

.current{
    border: 2px solid white;
}